* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fondo {
  background-image: url(../public/imgs/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 17%;
  width: 100%;
  min-height: 60vh;
  object-fit: cover;
}

@media (max-width: 750px){
  .fondo {
    background-image: url(../public/imgs/fondomedia.png);
    min-height: 100vh;
  }

}