.fondo {
    background-image: url(../../../public/imgs/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 17%;
    width: 100%;
    
    height: 60vh;
    object-fit: cover;
  }

.container-hero {
  height: 100vh;
}

  @media (max-width: 750px){
  .fondo {
    background-image: url(../../../public/imgs/background-mobile.png);
    min-height: 100vh;
    
  }
}
