footer{
    width: 100vw;
    max-height: 30vh;
    margin-bottom: 9.49vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

footer .img-container{
    width: 100%;
    height: 28.027vh; 
}

footer .img-container img{
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50%;
    object-fit: cover;
}

@media (max-width:1024px) {
    footer{
        margin-top: -10px;
    }
}

@media (max-width:720px) {
    footer{
    margin-top: -600px;
    }
.suscribe fieldset {
  background: #ffffff;
  border: 1px solid #22222279;
  border-radius: 4px;
  padding: 10px 20px;
  width: 100%;
}

.suscribe h3 {
  font-family: "Poppins";
  -style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.suscribe input {
  width: 10rem;
  border: none;
  height: 2rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 4rem;
  width: 100%;
  padding-top: 20px;
  place-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.redes-button {
  display: flex;
  flex-direction: column;
}
.redes-sociales {
  padding: 10px;
}

.redes-sociales a {
  margin: 10px;
  text-decoration: none;
}

.redes-sociales img {
  width: 25px;
}
.redes-button button {
  width: 200px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-top: 10px;
}

.redes-button button img {
  width: 14px;
}

.redes-button {
  align-items: center;
}

.footer-enlaces a {
  text-decoration: none;
  margin: 10px;
  color: #222222;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.footer-logo img {
  width: 120px;
}



@media (max-width: 1050px) {
  .footer-container {
    top: -16vh;
  }
}

@media (max-width: 900px) {
  .footer-container {
    top: -20vh;
  }
}

@media (max-width: 750px) {
  .footer-container {
    top: -25vh;
  }
}

@media (max-width: 650px) {
  .footer-container {
    top: -29vh;
  }
}

@media (max-width: 400px) {
  .footer-container {
    top: -32vh;
  }
}}