
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;    
    height: 100vh;
    padding: 50px;
    padding-bottom: 100px;
    
}

.register>div{
    margin: 25px 360px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: -200px;
    gap: 22px;
    margin: 0 136px;
}

form input {
    background: transparent;
    border: transparent;
}

.form fieldset {
    width: 100%;
    height: 48px;
    background: #EBEBEB;
    border: 1px solid rgba(31, 31, 31, 0.5);
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
}

.form fieldset legend {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    background: #4338CA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 15px;
    padding-bottom: 3px;
    text-align:end;
}

.form fieldset input {
    border: none;
    background: none;
    width: 90%;
    height: 25px;
    border-radius: 10px;
}



.form .notification-check{
    border: none;
    background-color: white;
    display: flex;
    gap: 4px;
    align-items: center;
    height: auto;
}

.form .notification-check input{
    width: 16px;
    height: 16px;
    margin: 0;
    border: 1px solid #1F1F1F;
    border-radius: 5px;
}

.form .notification-check label{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #1F1F1F;
}

.form .sign-up{
    width: 384px;
    height: 48px;
    background: #4338CA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #EBEBEB;
    letter-spacing: 0.05em;
    box-shadow: 5px 5px rgb(244, 179, 51);
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
}

.form .sign-in-google{
    width: 384px;
    height: 48px;
    background: #EBEBEB;
    border: 1px solid #1F1F1F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2px;
    text-decoration: none;
    margin: 0 auto;
}


.form .sign-in-google span{
    opacity: 0.5;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1F1F1F;
}

.form>p{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
}

.form>p .link{
    text-decoration: none;
    color: #4338CA; 
    font-weight: bold;
}



.register-fondo{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 4rem;
    width: 100%;
    margin-bottom: 500px;
}

.img-register img{
    width: 100%;
    height: 100vh;
}
.register{
    height: 100vh;
}
.register-fondo{
    padding-top: 50px;
}

.register-text{
    left: 168px;
    top: 215px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    
   width: 50%;
}

.register h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

swal2-title {
    margin: 0 auto !important;
}
.swal2-styled.swal2-confirm {
    background: linear-gradient(87.46deg, #4338CA 0%, #5E52F3 100%)!important;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.buttons-container div {
    margin-bottom: 20px;
}


@media (max-width: 1024px){
    

    .form fieldset {
        width: 100%;
       
    }
    .form .sign-up{
        width: 100%;
    }

    
    
    .form .sign-in-google{
    width: 270px;
}
    .register-fondo{
   
    height: 60vh;
    }
 }

@media (max-width: 660px){

    .form fieldset {
        width: 100%;
       
    }
    .form .sign-up{
        width: 100%;
    }
    
    .form .sign-in-google{
    width: 270px;
}

}

