<<<<<<< HEAD
.header{
=======
/* .header{
>>>>>>> 60af4823c3122c8dde64c37a5f99bb9b21eb8321
    max-height: 10vh;
}
.outlet{
    min-height: 60vh;
}
.footer{
    max-height: 30vh;
<<<<<<< HEAD
}
=======
} */
>>>>>>> 60af4823c3122c8dde64c37a5f99bb9b21eb8321
