.estadisticas{
    width: 100%;
    margin: 1rem;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}
.cont-estadisticas{
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.428);
  
}
.est-num{
    width: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    color: #2a2a2a;
    text-align: center;
}

.num{
    font-size: 1rem;
}