.img-title{
    width: 100%;
    height: auto;
    margin-top:  6rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.img-manga{
width: 50%;
height: 30rem;
object-fit: cover;
}
.title-port{
    width: 60%;
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
    color: #2a2a2a;
}

@media (min-width:320px) and (max-width:767px) { 
    .img-manga {
        width: 70%;
        height: 15rem;
    }
}

