.section-down {
    min-height: 40vh;
    width: 100%;
      padding: 50px 10%;
  }
  
  .rectangle {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 5rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(87.46deg, #4338ca 0%, #5e52f3 100%);
    border-radius: 6px;
    align-items: center;
    justify-content: start;
  }
  
  .deku {
  width: 276px;
  height: 306px;
  margin-top: -30px;
  margin-left: 20px;
  }
  
  .poster {
  width: 180px;
  height: 270px;
  margin-top: -70px;
  padding-left: -120px;
  }
  
  .description-bnh {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 356px;
    height: 114px;
    padding-left: -400px;
  }
  
  #bnh {
    width: 205px;
    height: 23px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 95.19%;
   
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  
  #manga {
    width: 37px;
    height: 11px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 95.19%;
    text-decoration: none;

  
    display: flex;
    align-items: center;
  
    color: rgba(255, 255, 255, 0.6);
  }
  
  #description {
    width: 356px;
    height: 60px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 95.19%;
  
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  @media (max-width: 1250px) {
    #description {
        width: 70%;
    }
  }
  


  @media (max-width: 1100px){

    .rectangle h6{
        font-size: 12px;
        
    }

    .description-bnh{
        
        width: 100%;
        text-align: start;
        margin: auto;
        flex-direction: column;
        align-content: center;
        gap: 1rem;
        margin-left: 15rem;
        margin-bottom: 50px;
        
        
    }
    .rectangle{
        grid-template-columns: repeat(auto-fit, minmax(260px, auto));
        align-items: center;
    }

    
   
}
  @media (max-width: 750px){
    .section-down{
        display: none;
    }
  }


