* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profileBackground {
    width: 100%;
    height: 55vh;
    background-image: url(../../images/Rectangle_606.png);
    background-size: cover;
    background-position: 0rem -7rem;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
#profileBackground h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */

    text-align: center;
}

.sectionProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(255, 255, 255);
    width: 95%;
    height: 60vh;
    margin-top: -110px;
    border-radius: 16px;
    margin-bottom: 3rem;
}


.profile {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.formEdit {
    width: 80%;
    height: 90%;
    margin: 0;
}

#profile-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50px;
}

.data-author {
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 3rem;
    color: #9d9d9d;
}

#icon1 {
    height: 1rem;
    width: 1rem;
}

@media (max-width: 748px) {
    #profileBackground {
        display: none;
    }

    .sectionProfile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        background: rgb(255, 255, 255);
        width: 95%;
        min-height: 40vh;
        position: static;
        margin-top: 0;
        z-index: 100;
        border-radius: 1rem;
        margin-bottom: 3rem;
    }
}