.todos {
    padding: 12px;
    gap: 10px;


    width: 57px;
    height: 35px;
   

    /* parrafo */

    background: #999999;
    border:  #999999;
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 95.19%;

    color: #FFFFFF;
}
.shonen {
    padding: 12px;
    gap: 10px;


    width: 65px;
    height: 35px;
   

    /* parrafo */

    background: #FFE0DF;
    border: #FFE0DF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 95.19%;

    color: #EF8481;
}
.seinen {
    padding: 12px;
    gap: 10px;


    width: 61px;
    height: 35px;
   

    /* parrafo */

    background: #FFDFC8;
    border: #FFDFC8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 95.19%;

    color: #FC9C57;
}
.shojo {
    padding: 12px;
    gap: 10px;


    width: 61px;
    height: 35px;
   

    /* parrafo */

    background: #D1FBF0;
    border: #D1FBF0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 95.19%;

    color: #00BA88;
}
.kodomo {
    padding: 12px;
    gap: 10px;


    width: 69px;
    height: 35px;
   

    /* parrafo */

    background: #E0DBFF;
    border: #E0DBFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 95.19%;

    color: #8883F0;
}