header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 10vh;
    position: absolute;
    width: 87.361vw;
    margin-left: 60px;
}

.logo{
    width: 7vh;
    height: 5vh;
}

@media (max-width: 1023px) {
    header{
        
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    position: absolute;
    width: 87.361vw;
    margin-left: 1rem;
    }
    
    
}
