.cabecera{
    width: 100%;
    height: 3rem; 
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
}
table{
    border: 2px solid #F9A8D4 ;
    width: 100%;
    text-decoration: dashed;
}
#companies-colum{
    width: 100%;
}
#authors-colum{
    width: 100%;
}
.icon3{
    width: 5%;
}
.colum1{
    width: 35%;
}
.colum2{
    width: 40%;
}
.colum3{
    width: 10%;
}
.colum4{
    width:10% ;
}

/*botones is companie o is acutor*/
.btn-companie-active {
     display: flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient(153.39deg, #F9A8D4 -13.9%, #F472B6 58.69%);
     border: 1px solid rgba(0, 0, 0, 0.276);
     box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
     width: 100%;
     height:2.5rem;
     border-radius: 10px 10px 0 0;
     margin-top: 3rem; 
     box-shadow: none;
 }
 .btn-isCompanie {
     width:40vw;
     height: auto;
     background: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px 10px 0 0;
     box-shadow: none;
 }
 .prueba-companie {
     width: 40vw;
     height: 2.5rem;
     background: #FFFFFF;
     border: 1px solid rgba(0, 0, 0, 0.276);
     margin: 0px;
     color: #F472B6;
     border-radius: 10px 10px 0 0;
     box-shadow: none;
    
 }
 .photo-perfil-author{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
 }


 @media (max-width: 506px){
    
    .photo-perfil-author{
       width: 1rem;
       height: 1rem;
       border-radius: 100%;
    }
    #icon3{
        width: 0.5rem;
    }
    .colum2{
       display: none;
    }
  
    
    }








